body {
    text-align: center;
    margin: 1rem auto;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
}
h1 {
    font-size: 3rem;
}
button {
    font-size: 2.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 5px 10px;
    margin-top: 1rem;
}
button:hover{
    background-color: hsl(0, 0%, 50%);
    transition: 0.7s;
}
button:active{
    transition: 0.6s;
}
#instructions_area {
display: flex;
justify-content: space-evenly;
flex-direction: column;
}